$color-weight:      rgb(14, 18, 65);
$color-light:       rgb(179, 185, 238);
$color-common:      rgb(37, 46, 155);
$color-font-main:   #000d4e;
$color-font-normal: #446da2;

:export {
    color-weight:       $color-weight;
    color-light:        $color-light;
    color-common:       $color-common;
    color-font-main:    $color-font-main;
    color-font-normal:  $color-font-normal;
}